#image {
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#link{
    text-decoration: none;
}

.margin {
    margin-left: 25%;
}

#cart {
    position: relative;
    margin-bottom: 150%;
    font-size: small;
    font-weight: bolder;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    padding: 3px 7px 4px 7px;
    background-color: rgb(255, 0, 0);
}